<!doctype html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link th:href="@{/css/bundle.css}" rel="stylesheet" />
<script th:src="@{/js/bundle.js}" defer></script>
<script th:src="@{/webjars/alpinejs/3.14.1/dist/cdn.min.js}" defer></script>

</head>
<body>
	<section layout:fragment="page-content">
		<h2>PostCollection Create Form</h2>
		<form th:action="@{/admin/post-collections/save}"
			th:object="${postCollection}" method="post">
			<div class="form-row">
				
				<input id="colid" type="hidden"
						class="form-control" th:field="*{id}" />
				
				<div class="col-md-6 form-group">
					<label for="name">Name</label> <input id="name" type="text"
						class="form-control" th:field="*{name}" />
				</div>
				<div class="col-md-6 form-group">
					<label for="title">Title</label> <input id="title" type="text"
						class="form-control" th:field="*{title}" />
				</div>
				<div class="col-md-6 form-group">
					<label for="description">Description</label>
					<textarea id="description" name="description"
						th:field="*{description}" rows="10" cols="30" class="form-control"></textarea>
				</div>
				<div class="col-md-6 form-group">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="*{publish}" id="publish" /> <label
							class="form-check-label" for="publish"> Publish </label>
					</div>
				</div>
				<div class="col-md-6 form-group">
					<input id="submit" type="submit"> Save </input>
				</div>

			</div>


			<div th:replace="admin/fragments/children.html  :: children-list (children=${children})">
			</div>
		</form>
	</section>
</body>
</html>